img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    pointer-events: none;
    /*禁止图片触发事件 防止图片保存*/
    -webkit-user-select: none;
    /* ios防止页面元素被选中 */
    -webkit-touch-callout: none;
    /*禁止系统默认菜单*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 清除点击高亮 */
  }
  input,
  select {
    outline: none;
    /*清除轮廓线*/
    background: none;
    /*清除浏览器默认样式*/
    -webkit-appearance: none;
    /*清除input属性默认样式*/
    -moz-appearance: none;
    /*清除input属性默认样式*/
    appearance: none;
    /*清除input属性默认样式*/
  }
  div {
    -webkit-user-select: none;
    /* ios防止页面元素被选中 */
    -webkit-touch-callout: none;
    /*禁止系统默认菜单*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 清除点击高亮 */
  }
  img[src=""] {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  /* 去掉input 盘边的小图标 */
  input::-webkit-search-cancel-button {
    display: none;
  }
.w1200 {
    // position: relative;
    width: 1200px;
    margin: 0 auto;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
.dn {
    display: none;
}
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
.clearfix {
    *zoom: 1;
}
/* 头部 */
header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 101px;
    background-color: #fff;
    &>.w1200 {
        position: relative;
        height: 100%;
    }
    .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        width: 249px;
        height: 31px;
        cursor: pointer;
        opacity: 0;
        animation: fadeIn 2s forwards;
    }
    .nav {
        display: inline-block;
        width: 800px;
        margin-left: 350px;
        li {
            position: relative;
            float: left;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            &:hover::after {
                position: absolute;
                content: "";
                left: 50%;
                transform: translateX(-50%);
                bottom: -1px;
                height: 2px;
                width: 50px;
                background-color: rgb(60, 181, 213);
            }
            &:hover {
                .li {
                    color: rgb(60, 181, 213);
                }
            }
        }
        .present::after {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: -1px;
            height: 2px;
            width: 50px;
            color: rgb(60, 181, 213);
            background-color: rgb(60, 181, 213);
        }
        .present {
            .li {
                color: rgb(60, 181, 213);
            }
        }
    }
    .lxwm {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
        height: 22px;
        img {
            width: 22px;
            height: 22px;
        }
        font-family: 微软雅黑;
        font-size: 16px;
        line-height: 2;
        color: #00B7D9;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 内容 */
.content {
    overflow: hidden;
    position: relative;
    width: 100%;

    /* 固定导航栏 */
    .immobilization {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 146px;
        z-index: 999;
        background: url('../img/online_service.png') no-repeat 0 -39px;
    }
    .nav {
        position: fixed;
        z-index: 999;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 84px;
        height: 342px;
        background-color: #fff;
        border-radius: 10px;
        z-index: 999;
        .online_tel {
            display: none;
        }
        ul {
            width: 100%;
            height: 100%;
            padding-left: 10px;
            box-sizing: border-box;
            margin-top: 35px;
            li {
                position: relative;
                text-align: center;
                width: 62px;
                height: 90px;
                padding-top: 5px;
                margin-bottom: 10px;
                font-size: 14px;
                color: #000;
                &:hover {
                    background-color: #ddd;
                    border-radius: 6px;
                }
                a {
                    font-size: 14px;
                    color: #000;
                }
            }
        }
        span {
            display: block;
            width: 16px;
            height: 16px;
            background-position: -68px -16px;
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            background-image: url('../img/online_service.png');
        }
        .online_tel {
            display: block;
            width: 240px;
            height: 74px;
            background-color: #fff;
            position: absolute;
            right: 98px;
            top: 0;
            border-radius: 8px;
            line-height: 25px;
            text-align: left;
            padding: 15px 20px;
            box-sizing: border-box;
            font-weight: 700;
            .online_tel-bg {
                position: absolute;
                left: 230px;
                top: 50%;
                transform: translateY(-50%);
                width: 36px;
                height: 36px;
                background: url('../img/online_service.png') no-repeat 0 0;
            }
            .online_tel-btn {
                background-position: -68px 0px;
                left: 217px;
                top: 5px;
                width: 16px;
                height: 16px;
                cursor: pointer;
                background-image: url('../img/online_service.png');
            }
        }
    }
    .returntop {
        display: none;
        width: 60px;
        height: 60px;
        position: fixed;
        right: 10px;
        bottom: 50px;
        z-index: 999;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.anim {
    .ambientbox {
        h3,
        p {
            animation: top 1s ease forwards;
        }
        .markdown-body {
            animation: top 1s ease 1.5s forwards;
        }
    }
    .fot-top {
        .ev-module-text,
        .ev-module-Telnum,
        .right {
            animation: top 1s ease forwards;
        }
    }
    .abouybox {
        h3 {
            animation: top 1s ease forwards;
        }
    }
    .modelbox {
        h2 {
            animation: top 1s ease forwards;
        }
        li {
            animation: top 1.2s ease forwards;
        }
    }
    .model {
        h2 {
            animation: top 1.5s ease forwards;
        }
        li {
            animation: top 2s ease forwards;
        }
    }
}
.backInUp {
    animation: top 1s ease forwards;
}

/* 首页 */
.home {
    position: relative;
    width: 100%;
    // height: 2600px;
    overflow: hidden;
    border: 0;

    .border-b::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 36px;
        height: 2px;
        background-color: rgb(60, 181, 213);
    }
    /* 背景图 */
    .homebg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    /* 环境 */
    .ambient {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 950px;
        background-color: #f3f3f3;
        .w1200 {
            text-align: center;
            &>h3 {
                text-align: center;
                color: #212121;
                font-family: blank, tt, Arial, 微软雅黑;
                font-size: 36px;
                font-weight: 700;
                padding-top: 60px;
                margin-bottom: 20px;
                opacity: 0;
            }
            &>p {
                position: relative;
                text-align: center;
                color: #989898;
                font-family: SimSun;
                font-size: 18px;
                margin-bottom: 80px;
                opacity: 0;
            }
            .markdown-body {
                opacity: 0;
                width: 100%;
                ul {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 440px;
                    display: flex;
                    justify-content: space-evenly;
                    li {
                        margin: 0;
                        overflow: hidden;
                        background-color: #fff;
                        width: 380px;
                        height: 440px;
                        text-align: center;
                        &>a {
                            position: relative;
                            display: block;
                            width: 380px;
                            height: 220px;
                            overflow: hidden;
                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        &>a:hover {
                            overflow: hidden;
                            img {
                                transition: all 1s;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) scale(1.2);
                            }
                        }
                        .ambient-l {
                            cursor: pointer;
                            margin-top: 10px;
                            color: #989898;
                            font-size: 13px;
                            margin-left: 40px;
                            img {
                                width: 20px;
                                height: 16px;
                            }
                        }
                        .ambient-r {
                            cursor: pointer;
                            margin-top: 10px;
                            color: #989898;
                            font-size: 13px;
                            margin-right: 40px;
                            img {
                                width: 19px;
                                height: 19px;
                            }
                        }
                        .libox {
                            h3 {
                                font-size: 18px;
                                color: #666666;
                                margin-bottom: 40px;
                                margin-top: 20px;
                            }
                            p {
                                line-height: 25px;
                                margin: 0;
                                font-size: 14px;
                                color: #989898;
                            }
                        }
                    }
                }
            }
            button {
                margin-top: 100px;
                width: 146px;
                height: 50px;
                line-height: 146px;
                text-align: center;
                color: #fff;
                font: normal 700 16px/1 '微软雅黑';
                background-color: #3cb5d5;
                border: 0;
                border-radius: 5px;
            }
        }
    }
    /* 关于 */
    .abouy {
        width: 100%;
        height: 750px;
        background: transparent;
        &>.w1200 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            background-color: rgba(0, 0, 0, .35);
            height: 566px;
            color: #fff;
            text-align: center;
            h3 {
                margin-top: 40px;
                font-size: 18px;
                font-weight: 500;
            }
            h2 {
                margin-top: 60px;
                font-weight: 700;
                font-size: 40px;
            }
            p {
                width: 600px;
                font-size: 18px;
                margin: 80px auto 90px;
                line-height: 40px;
            }
            button {
                color: #fff;
                width: 240px;
                height: 45px;
                line-height: 45px;
                font-size: 16px;
                background-color: transparent;
                border: 2px solid #fff;
            }
        }
    }
    .model {
        h3,
        li {
            opacity: 0;
        }
    }
    /* 新闻 */
    .teacher {
        width: 100%;
        height: 860px;
        position: relative;
        background-color: #fff;
        z-index: 1;
        text-align: center;
        .w1200 {
            &>h3 {
                color: #000;
                font-size: 32px;
                font-weight: 700;
                padding-top: 100px;
            }
            &>p {
                position: relative;
                padding: 10px 0;
                margin-bottom: 30px;
                color: #989898;
                font-size: 18px;
                margin-bottom: 70px;
            }
            .img-l {
                cursor: pointer;
                width: 433px;
                height: 480px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            ul {
                // width: 460px;
                width: 660px;
                height: 507px;
                li {
                    &>span {
                        float: left;
                        width: 100px;
                        height: 80px;
                        cursor: pointer;
                        border: 1px dotted transparent;
                        &:hover {
                            border: 1px dotted #1E90FF;
                        }
                        img {
                            cursor: pointer;
                            max-width: 100px;
                            max-height: 80px;
                            text-align: center;
                        }
                        h3 {
                            cursor: pointer;
                            float: left;
                        }
                        p {
                            float: left;
                        }
                    }
                    width: 100%;
                    height: 133px;
                    .news {
                        margin-left: 20px;
                        position: relative;
                        float: left;
                        text-align: left;
                        overflow: hidden;
                        width: 350px;
                        height: 107px;
                        margin-right: 80px;
                        h3 {
                            font-size: 18px;
                            color: #666;
                            width: 306px;
                            height: 25px;
                            cursor: pointer;
                            overflow: hidden;
                            margin-left: 28px;
                            &:hover {
                                color: #1E90FF;
                            }
                        }
                        p {
                            font-size: 14px;
                            color: #989898;
                            margin-left: 28px;
                            width: 320px;
                            height: 80px;
                            overflow: hidden;
                        }
                    }
                    .news::after {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 10px;
                        width: 8px;
                        height: 8px;
                        background-color: #2090ff;
                        border-radius: 50%;
                    }                    
                    .time {
                        margin-top: 40px;
                        width: 76px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 14px;
                        color: #989898;
                        overflow: hidden;
                        &:hover {
                            border: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}
/* 轮播图 */
.homebox {
    text-align: center;
    overflow: hidden;
    width: 100vw;
    height: 600px;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    // background: url(https://aimg8.dlssyht.cn/u/1913406/ev_user_module_content_tmp/2021_01_06/tmp1609918593_1913406_s.jpg) no-repeat;
    &>.w1200 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
    }
    .news {
        overflow: hidden;
        width: 803px;
        height: 185px;
        margin: 0 auto;
        margin-top: 130px;
        box-sizing: border-box;
        padding-top: 40px;
        background-color: rgba(102, 0, 0, .8);
        h3 {
            text-align: center;
            color: #fff;
            font-size: 22px;
            height: 44px;
            line-height: 50px;
        }
        p {
            color: rgb(255, 255, 0);
            font-size: 20px;
        }
    }
    .app {
        width: 130px;
        height: 130px;
        margin: 25px auto;
        background-color: #fff;
        img {
            width: 100%;
            height: 100%;
        }
    }
    span {
        margin: 0 auto;
        background-color: #fff;
        display: block;
        width: 135px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
}
/* 模特 */
.model {
    width: 100%;
    height: 1230px;
    position: relative;
    z-index: 1;
    background-color: rgb(225, 229, 232);
    overflow: hidden;
    h2 {
        position: relative;
        text-align: center;
        font-size: 32px;
        color: #333333;
        line-height: 50px;
        margin: 60px 0 90px;
    }
    &>.w1200 {
        height: 939px;
        background-color: #fff;
        ul {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            padding: 5px;
            justify-content: space-evenly;
            flex-wrap: wrap;
            li {
                overflow: hidden;
                &:hover {
                    img {
                        transition: all 1s;
                        transform: scale(1.1);
                    }
                }
                &>a {
                    display: block;
                }
                text-align: center;
                width: 396px;
                // height: 442px;
                div {
                    width: 300px;
                    height: 400px;
                    overflow: hidden;
                    margin: 0 auto;
                }
                img {
                    width: 300px;
                    height: 400px;
                }
                p {
                    margin-top: 10px;
                    color: #444;
                    font-size: 14px;
                    // line-height: 30px;
                    &:hover {
                        color: #2090ff;
                    }
                }
            }
        }
    }
}

.crumbsnav {
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #2090FF;
    font-weight: 700;
    margin-bottom: 20px;
    a {
        color: #2090FF;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
}
/* 模特展示页面 */
.modelshows {
    position: relative;
    overflow: hidden;
    width: 100%;
    .model {
        position: relative;
        width: 1200px;
        background-color: #fff;
        height: auto;
    }

    .model-nav {
        position: relative;
        width: 350px;
        height: 60px;
        line-height: 32px;
        border: 1px dotted #1E90FF;
        padding-bottom: 5px;
        a {
            margin-left: 25px;
            margin-top: 10px;
            display: block;
            border-bottom: 1px dotted #ccc;
            &:hover {
                color: #1E90FF;
            }
        }
        span {
            position: absolute;
            width: 0px;
            height: 0px;
            left: 10px;
            top: 39px;
            border: 5px solid transparent;
            border-left: 5px solid #1E90FF;
        }
    }
    .model-shows-top {
        height: 35px;
        width: 100%;
        margin-top: -17px;
        margin-left: 10px;
        img {
            width: 130px;
            height: 100%;
        }
    }
    .model-shows {
        width: 830px;
        height: 662px;
        border: 1px dotted #1E90FF;
        
        ul {
            margin-top: 20px;
            width: 100%;
            height: 627px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            li {
                width: 272px;
                height: 285px;
                text-align: left;
                padding: 0 40px; 
                box-sizing: border-box;
                a {
                    div {
                        width: 200px;
                        height: 200px;
                        margin: 0 auto;
                        border: 1px dotted #ddd;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            border: 1px dotted #1E90FF;
                        }
                    }
                    p {
                        line-height: 34px;
                        font-size: 14px;
                        color: #444;
                        &:hover {
                            color: #1E90FF;   
                        }
                    }
                }
            }
        }
    }

    .page {
        position: relative;
        z-index: 2;
        margin: 15px 0 15px 0;
        .inner {
            text-align: center;
            padding: 10px 5px;
            clear: both;
            font-size: 0;
            .page-sum {
                display: inline-block;
                margin-left: 5px;
                padding: 5px 10px;
                font: 400 12px/1 'Microsoft Yahei';
                vertical-align: top;
            }
            span {
                border-color: #DDD;
                color: #AAA;
                background-color: #FFF;
                cursor: not-allowed;
            }
            strong {
                background-color: #cccccc;
                border:1px solid #cccccc;
            }
        }
    }
    .page a, .page b, .page span, .page strong {
        display: inline-block;
        margin-left: 5px;
        border:1px solid #cccccc;
        padding: 5px 10px;
        font: 400 12px/1 'Microsoft Yahei';
        vertical-align: top;
    }
}

/* 模特详细 */
.modelshows2 {
    .model-fx {
        margin: -10px 0 10px;
        float: left;
        text-align: right;
        width: 50%;
        height: 31px;
        a {
            padding-left: 19px;
            height: 16px;
            text-decoration: none;
            display: none;
            zoom: 1;
            vertical-align: middle;
            cursor: pointer;
            color: #333;
            margin-right: 3px;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
        }
        .bshare-weixin {
            background: url(http://static.bshare.cn/frame/images/logos/s4/weixin.png) no-repeat;
            display: inline-block;
        }
        .bshare-qzone {
            background: url(http://static.bshare.cn/frame/images/logos/s4/sprite/top_logos_sprite.png) no-repeat 0 -234px;
            display: inline-block;
        }
        .bshare-sinaminiblog {
            background: url(http://static.bshare.cn/frame/images/logos/s4/sprite/top_logos_sprite.png) no-repeat 0 -270px;
            display: inline-block;
        }
    }
    .bsBox {
        z-index: 100000001;
        font-size: 12px;
        background: url(http://static.bshare.cn/frame/images//background-opaque-dark.gif) !important;
        padding: 6px !important;
        border-radius: 5px;
        .bsClose {
            cursor: pointer;
            position: absolute;
            z-index: 10000000;
            color: #666;
            font-weight: bold;
            font-family: Helvetica,Arial;
            font-size: 14px;
            line-height: 20px;
        }
        .bsTop {
            color: #666;
            background: #f2f2f2;
            height: 24px;
            line-height: 24px;
            border-bottom: 1px solid #e8e8e8;
        }
        .bsFrameDiv, #bsMorePanel {
            border: none;
            background: #fff;
        }
    }
    .model {
        width: 1200px !important;
    }
    .model-shows {
        height: auto !important;
    }
    .model-title {
        position: relative;
        width: 386px;
        font-size: 16px;
        color: #555;
        p {
            margin-top: 10px;
            margin-bottom: 20px;
            font-weight: 700;
            line-height: 20px;
        }
    }
    .news-shows-top {
        margin-bottom: 5px;
    }
    .model-nav {
        padding-bottom: 15px !important;
        a {
            margin-top: -10px !important;
        }
    }
    .model-shows {
        position: relative;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .model-nav,
    .model-shows {
        border: 1px solid #ccc !important;
    }
    .news-shows-top {
        position: relative;
        height: 32px;
        line-height: 32px;
        width: 100%;
        color: #2090ff;
        font-size: 14px;
        padding-left: 20px;
        box-sizing: border-box;
        &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 15px;
            background-color: #2090ff;
        }
        border-bottom: 2px solid #2090FF;
    }
    
    .particular {
        width: 100%;
        border: 1px solid #74CBE8;
        .particular-t {
            width: 100%;
            border-bottom: 1px solid #74CBE8;
            height: 31px;
            line-height: 31px;
            margin-bottom: 10px;
            background-color: #D5F1FC;
            span {
                width: 101px;
                height: 31px;
                background-color: #fff;
                line-height: 31px;
                text-align: center;
                display: block;
                border-bottom: 1px solid transparent;
                border-left: 1px solid #74CBE8;
            }
        }
        img {
            width: 100%;
        }
    }
    .model-box {
        position: relative;
        width: 420px;
        height: 420px;
        border: 1px solid #2090ff;
        margin-bottom: 30px;
        text-align: center;
        img {
            // width: 100%;
            height: 100%;
        }
        .imgpox {
            position: absolute;
            width: 175px;
            height: 175px;
            background-color: #fc980f;
            border: 1px solid #e08103;
            z-index: 2;
            opacity: .5;
            cursor: move;
        }
    }

    .imgbox {
        position: absolute;
        border: 1px solid #ccc;
        width: 300px;
        height: 300px;
        overflow: hidden;
        background-color: #fff;
        top: 0;
        left: 0;
        img {
            position: absolute;
            width: 800px;
            height: 800px;
        }
    }

    .products {
        width: 100%;
        // height: 320px;
        margin-bottom: 10px;
            overflow: scroll;
            border: 1px solid #ccc;
        h3 {
            height: 32px;
            text-indent: 5px;
            line-height: 32px;
            font-size: 16px;
            color: #555;
            border-bottom: 1px solid #ccc;
        }
        ul {
            margin-top: 20px;
            // width: 100%;
            height: 293px;
            flex-wrap: nowrap;
            // overflow: hidden;
            display: flex;
            justify-content: start;
            li {
                // float: left;
                height: 272px;
                text-align: left;
                box-sizing: border-box;
                padding: 0 40px; 
                box-sizing: border-box;
                a {
                    div {
                        width: 200px;
                        height: 200px;
                        margin: 0 auto;
                        border: 1px dotted #ddd;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            border: 1px dotted #1E90FF;
                        }
                    }
                    p {
                        line-height: 34px;
                        font-size: 14px;
                        color: #444;
                        &:hover {
                            color: #1E90FF;   
                        }
                    }
                }
            }
        }
    }
}

/* 夜场新闻 */
.newslist {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 100px;

    .newsbox {
        position: relative;
        width: 1200px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        // padding: 0 10px;
    
        .news-shows-top {
            position: relative;
            height: 32px;
            line-height: 32px;
            width: 100%;
            color: #2090ff;
            font-size: 14px;
            padding-left: 20px;
            box-sizing: border-box;
            &::after {
                content: "";
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                height: 15px;
                background-color: #2090ff;
            }
            border-bottom: 2px solid #2090FF;
        }

        .news-nav {
            // height: 50px;
            width: 100%;
            font-size: 14px;
            color: #444;
            border-bottom: 2px solid #ccc;
            a {
                position: relative;
                display: block;
                padding-left: 20px;
                height: 50px;
                line-height: 50px;
                &:hover {
                    color: #2090ff;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 10px;
                    top: 54%;
                    transform: translateY(-50%);
                    width: 4px;
                    height: 4px;
                    background-color: #666;
                }
            }
        }

        .news-shows {
            width: 100%;
            height: auto;
            height: 270px;
            ul {
                display: flex;
                justify-content: space;
                flex-wrap: wrap;
                li {
                    width: 32.4%;
                    height: 31px;
                    margin-right: 10px;
                    a {
                        &:hover {
                            color: #2090ff;
                        }
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        line-height: 31px;
                        font-size: 12px;
                        color: #444;
                        text-indent: 20px;
                        border-bottom: 1px dotted #666;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 10px;
                            top: 54%;
                            transform: translateY(-50%);
                            width: 4px;
                            height: 4px;
                            background-color: #666;
                        }
                    }
                }
            }
        }
    }

    .crumbsnav {
        position: relative;
        width: 1200px;
        margin: 20px auto;
        font-weight: 700;
        box-sizing: border-box;
        padding-left: 16px;
        a {
            color: #666;
            font-size: 16px;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
            
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 15px;
            background-color: #2090ff;
        }
    }
    .page {
        position: absolute;
        bottom: 0px;
        right: 20px;
        z-index: 2;
        margin: 15px 0 15px 0;
        .inner {
            text-align: right;
            padding: 10px 10px;
            clear: both;
            font-size: 0;
            .page-sum {
                display: inline-block;
                margin-left: 5px;
                padding: 5px 10px;
                font: 400 12px/1 'Microsoft Yahei';
                vertical-align: top;
            }
            span {
                border-color: #DDD;
                color: #AAA;
                background-color: #FFF;
                cursor: not-allowed;
            }
            strong {
                background-color: #cccccc;
                border:1px solid #cccccc;
            }
        }
    }
    .page a, .page b, .page span, .page strong {
        display: inline-block;
        margin-left: 5px;
        border:1px solid #cccccc;
        padding: 5px 10px;
        font: 400 12px/1 'Microsoft Yahei';
        vertical-align: top;
    }
}

// 关于我们
.about {
    .custom {
        width: 100%;
        height: 330px;
        // background-position: center top;
        background:url(../img/tmp1538300266_1761174_s.jpg) no-repeat center top;
    }
    .about-bot {
        padding-top: 50px;
        padding-bottom: 120px;
        .about-left {
            width: 252px;
            height: 180px;
            float: left;
            animation: top both 1.5s;
            ul {
                width: 242px;
                float: left;
                margin: 0 10px 10px 0;
                position: relative;
                z-index: 2;
                .about-bg {
                    background-color: #00B7D9;
                }
                li {
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: 700;
                    background-color: rgb(235, 235, 235);
                    a {
                        display: block;
                        height: 50px;
                        width: 242px;
                    }
                    a:hover {
                        background-color: #00B7D9;
                    }
                }
            }
        }
        .about-right {
            float: left;
            animation: top both 1.5s;
            .aboutus {
                width: 938px;
                margin: 0 10px 10px 0;
                padding-top: 20px;
                padding: 20px 20px 20px 20px;
                box-sizing: border-box;
                position: relative;
                z-index: 2;
                background-color: #fff;
                .title {
                    h1 {
                        font-size: 30px;
                        color: #333333;
                        font-weight: 700;
                        width: 100%;
                        overflow: hidden;
                        height: 55px;
                        position: relative;
                        border-bottom: 1px solid #dbdbdb;
                    }
                }                                                   .Details {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }                          .newlis {
                    span {
                        margin-right: 10px;
                    }
                }      
            }
        }
    }
}
@keyframes top {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(-0px);
    }
}

.newscss {
    .custom {
        width: 100%;
        height: 330px;
        // background-position: center top;
        background:url(../img/tmp1538300266_1761174_s.jpg) no-repeat center top;
    }
    .about-bot {
        padding-top: 50px;
        padding-bottom: 120px;
        .about-left {
            width: 252px;
            height: 180px;
            float: left;
            animation: top both 1.5s;
            ul {
                width: 242px;
                float: left;
                margin: 0 10px 10px 0;
                position: relative;
                z-index: 2;
                .about-bg {
                    background-color: #00B7D9;
                }
                li {
                    background-color: #00B7D9;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    a {
                        display: block;
                        height: 50px;
                        width: 242px;
                    }
                    a:hover {
                        background-color: #00B7D9;
                    }
                }
            }
        }
        .about-right {
            float: left;
            animation: top both 1.5s;
            background-color: #fff;
            box-sizing: border-box;
            padding-left: 20px;
            text-indent: 1rem;
            h2 {
                text-indent: 0;
                text-align: left;
                font-weight: 400;
                margin-bottom: 10px;
                border-bottom: 1px dotted #ccc;
            }
            .aboutus {
                width: 938px;
                margin: 0 10px 10px 0;
                padding-top: 20px;
                padding: 20px 20px 20px 20px;
                box-sizing: border-box;
                position: relative;
                z-index: 2;
                background-color: #fff;
                .title {
                    h1 {
                        font-size: 30px;
                        color: #333333;
                        font-weight: 700;
                        width: 100%;
                        overflow: hidden;
                        height: 55px;
                        position: relative;
                        border-bottom: 1px solid #dbdbdb;
                    }
                }                                                   .Details {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }                                     
            }
            .newlis {
                span {
                    margin-right: 10px;
                }
            }
        }
    }
}
// 环境展示
.Environment {
    .mbx-top {
        height: 35px;
        margin: 10px 0 10px 0;
        font-size: 14px;
        line-height: 35px;
        padding: 0 0 0 10px;
        background-color: #E0DFDD;
        b {
            color: #2090FF;
            margin: 0 5px;
            font-style: normal;
        }
    }
    ol {
        height: 42px;
        text-align: center;
        li {
            width: 158px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #e0dfdd;
            :hover {
                color: #2090ff;
            }
        }
    }
    ul {
        li {
            float: left;
            width: 292px;
            height: 300px;
            border-top: 1px solid #e0dfdd;
            box-sizing: border-box;
            .pic {
                width: 280px;
                height: 280px;
            }
            img {
                width: 100%;
                height: 210px;
            }
            h3 {
                width: 280px;
                height: 60px;
                a{
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .page {
        position: relative;
        z-index: 2;
        margin: 15px 0 15px 0;
        .inner {
            text-align: center;
            padding: 10px 5px;
            clear: both;
            font-size: 0;
            .page-sum {
                display: inline-block;
                margin-left: 5px;
                padding: 5px 10px;
                font: 400 12px/1 'Microsoft Yahei';
                vertical-align: top;
            }
            span {
                border-color: #DDD;
                color: #AAA;
                background-color: #FFF;
                cursor: not-allowed;
            }
            strong {
                background-color: #cccccc;
                border:1px solid #cccccc;
            }
        }
    }
    .page a, .page b, .page span, .page strong {
        display: inline-block;
        margin-left: 5px;
        border:1px solid #cccccc;
        padding: 5px 10px;
        font: 400 12px/1 'Microsoft Yahei';
        vertical-align: top;
    }
}

.Envdetails {
    .mbx-top {
        height: 35px;
        margin: 10px 0 10px 0;
        font-size: 14px;
        line-height: 35px;
        padding: 0 0 0 10px;
        background-color: #E0DFDD;
        b {
            color: #2090FF;
            margin: 0 5px;
            font-style: normal;
        }
        .color {
            color: #2090FF;
        }
    }
    .top-title {
        height: 36px;
        text-align: center;
        font-size: 18px;
    }
    .bigdd {
        position: relative;
    }
    .pics {
        width: 420px;
        height: 420px;
        img {
            width: 420px;
            height: 320px;
        }
        .mask {
            width: 100px;
            height: 100px;
            background-color: #FEDE4F;
            opacity: .5;
            position: absolute;
            left: 0;
            top: 0;
            cursor: move;
            // display: none;
        }
    }
    .box {
        width: 300px;
        height: 300px;
        border: 1px solid gray;
        position: absolute;
        left: 455px;
        top: 50px;
        overflow: hidden;
        div {
            position: relative;
            left: 0;
            top: 0;
            width: 840px;
            height: 640px;
            img {
                position: absolute;
                left: 50%;
                top: 35%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
            }
        }
    }
    .price {
        color: #555;
        font-size: 18px;
        padding: 0;
        height: 35px;
        width: 764px;
        background-color: #E0DFDD;
        margin-left: 16px;
        h3 {
            line-height: 35px;
            margin-left: 10px;
        }
    }
    .tab-switch-module {
        position: relative;
        ul {
            background-color: #E0DFDD;
            overflow: hidden;
            .tab-t-item {
                width: 100px;
                height: 40px;
                text-align: center;
                float: left;
                font-size: 14px;
                line-height: 40px;
            }
        }
        .tab-switch-c {
            margin-top: 10px;
            img {
                width: 860px;
                height: 645px;
            }
        }
    }
    .bottom-cp {
        position: relative;
        margin-top: 30px;
        margin-bottom: 40px;
        .hb-head {
            line-height: 36px;
            font-size: 16px;
            border-bottom:1px dashed #ccc;
            margin-bottom: 15px;
        }
        .slideshow {
            li {
                margin-right: 20px;
                img {
                    width: 200px;
                    height: 150px;
                }
                h3{
                    margin-top: 40px;
                    width: 200px;
                    height: 20px;
                    text-align: center;
                }
            }
        }
        .left {
            position: absolute;
            left: 0;
            top: 50%;
            width: 28px;
            height: 56px;
            background-image: url(../img/manual_move_btn.png);
            background-position: 0 0;
            margin-top: -28px;
            z-index: 2;
            cursor: pointer;
        }
        .right {
            position: absolute;
            right: 0;
            top: 50%;
            width: 28px;
            height: 56px;
            margin-top: -28px;
            z-index: 2;
            cursor: pointer;
            background-image: url(../img/manual_move_btn.png);
            background-position: -28px 0;
        }
    }
    .p-preview-number-area {
        height: 30px;
        margin-top: 5px;
        position: absolute;
        left: 350px;
        top: 346px;
        .bshare-custom  {
            a {
                padding-left: 19px;
                height: 16px;
                text-decoration: none;
                display: none;
                zoom: 1;
                vertical-align: middle;
                cursor: pointer;
                color: #333;
                margin-right: 3px;
                -moz-opacity: 1;
                -khtml-opacity: 1;
                opacity: 1;
            }
            .bshare-weixin {
                background: url(http://static.bshare.cn/frame/images/logos/s4/weixin.png) no-repeat;
                display: inline-block;
            }
            .bshare-qzone {
                background: url(http://static.bshare.cn/frame/images/logos/s4/sprite/top_logos_sprite.png) no-repeat 0 -234px;
                display: inline-block;
            }
            .bshare-sinaminiblog {
                background: url(http://static.bshare.cn/frame/images/logos/s4/sprite/top_logos_sprite.png) no-repeat 0 -270px;
                display: inline-block;
            }
        }
    }
    .bsBox {
        z-index: 100000001;
        font-size: 12px;
        background: url(http://static.bshare.cn/frame/images//background-opaque-dark.gif) !important;
        padding: 6px !important;
        border-radius: 5px;
        .bsClose {
            cursor: pointer;
            position: absolute;
            z-index: 10000000;
            color: #666;
            font-weight: bold;
            font-family: Helvetica,Arial;
            font-size: 14px;
            line-height: 20px;
        }
        .bsTop {
            color: #666;
            background: #f2f2f2;
            height: 24px;
            line-height: 24px;
            border-bottom: 1px solid #e8e8e8;
        }
        .bsFrameDiv, #bsMorePanel {
            border: none;
            background: #fff;
        }
    }
}

/* 页脚 */
footer {
    position: relative;
    z-index: 2;
    text-align: left;
    background-color: #555;
    .fot-top {
        position: relative;
        height: 274px;
        .ev-text-title-2 {
            width: 348px;
            height: 92px;
            font-size: 36px;
            font-weight: 400;
            line-height: 1.3;
            color: rgb(255, 255, 255);
            position: absolute;
            left: 5px;
            top: 45px;
            z-index: 5;
        }
        .ev-module-text {
            width: 500px;
            height: 65px;
            text-align: left;
            position: absolute;
            left: 0px;
            top: 114px;
            z-index: 2;
            font-family: 微软雅黑;
            font-size: 14px;
            color: #989898;
            line-height: 1.7;
        }
        .ev-module-Telnum {
            position: absolute;
            width: 306px;
            height: 62px;
            left: 0px;
            top: 200px;
            z-index: 3;
            p {
                font-family:微软雅黑;
                font-size:14px;color:#00B7D9;
                line-height:1.8;
            }
        }
        .right {
            float: right;
            margin-top: 45px;
            text-align: center;
            a {
                display: block;
            }
            img {
                width: 162px;
                height: 162px;
            }
        }
    }
    .copyright {
        height: 53px;
        border-top: 1px solid rgb(152, 152, 152);
        p {
            line-height: 53px;
            text-align: center;
            color: rgb(152, 152, 152);
        }
    }
}
